@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Switzer';
        src: url('@/assets/fonts/Switzer-Variable.woff2') format('woff2'),
            url('@/assets/fonts/Switzer-Variable.woff') format('woff'),
            url('@/assets/fonts/Switzer-Variable.ttf') format('truetype');
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }
    body {
        @apply font-switzer w-screen h-screen bg-black text-white selection:bg-white selection:text-black;
    }
}
